body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.image-container {
  position: relative;
}

.background-image {
  width: 100%;
  max-height: 400px; /* Réduire la hauteur maximale de l'image */
  object-fit: cover; /* Ajuster l'image pour couvrir toute la zone */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.artist-name {
  position: absolute;
  bottom: 10px; /* Ajuster la position verticale */
  left: 10px; /* Ajuster la position horizontale */
  color: #171717;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre de texte */
}

.info-container {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.artist-info h1 {
  margin-top: 0;
}

.artist-info p {
  margin: 10px 0;
}

.artist-info a {
  color: #000;
  text-decoration: none;
}

.artist-info a:hover {
  text-decoration: underline;
}
