body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container img {
  width: 50%;
}

.container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20%; 
  margin-top: 30%;
}

hr {
  border: none;
  height: 10px;
  background: #000; /* couleur noire */
  width: 100%; /* s'étend sur toute la largeur */
}

.container h1, .container p {
  text-align: left;
  margin-left: 25%;
  margin-right: 50%;
}

.container h1 {
  font-size: 5em;
  margin: 0;
}

.container p {
  font-size: 3em;
  margin: 0;
}

.titre h1 {
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
  
}

.il {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.center {
  display: flex;
  justify-content: center;
}