<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/info.css">

    <title>info</title>
</head>

<body>
    <h1>Information sur l'artiste</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Date}}</td>
            <td><img src="{{.Image}}" alt="{{.Name}}"></td>
        </tr>
    </table>
    <a href="/liste">Retour à la liste</a>

</body>
</html>