<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/info.css">
    <title>Information sur l'artiste</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="info">
                <h1>{{.Name}}</h1>
                <p>{{.Date}}</p>
            </div>
            <img src="{{.Image}}" alt="{{.Name}}">
        </div>
        <hr> <!-- Placer la barre horizontale ici -->
    </div>
    <div class="artisite">
        <div class="titre">
            <h1>Information sur le groupe ou sur l'artisite</h1>
            <hr> 
        </div>
        <div class="membres">
            <h2>Membre du groupe :</h2>
            <ul>
                {{range .Membre}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
        <h2>Date de sortie de leurs premier Albums:</h2>
        <h2>{{.Albums}}</h2>
    </div>
    <div class="center">
        <a href="/liste">Retour à la liste</a>
    </div>
</body>
</html>
